.root {
    -fx-font-family: "Consolas";
}

.menu-button {
    -fx-font-size: 18px;
    -fx-text-fill: white;

    -fx-background-color: linear-gradient(to bottom, #2b2b2b, #0d0d0d);
    -fx-border-color: #555;
    -fx-border-width: 2;

    -fx-padding: 12 30 12 30;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.menu-button:hover {
    -fx-background-color: linear-gradient(to bottom, #3a3a3a, #151515);
    -fx-border-color: gold;
    -fx-cursor: hand;
}

/* BOTTONI GENERICI RPG */
.rpg-button {
    -fx-background-color: #1c1c1c;
    -fx-text-fill: #d6d6d6;
    -fx-font-size: 13px;
    -fx-border-color: #3a3a3a;
}

.rpg-button:hover {
    -fx-background-color: #2a2a2a;
}

/* STATS */
.stats-label {
    -fx-text-fill: #9ecbff;
    -fx-font-size: 18px;
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
}

/* TITOLI */
.title-label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
    -fx-font-family: "Georgia";
    -fx-font-weight: bold;
}

/* TEXT FIELD + COMBO */
.text-field, .combo-box {
    -fx-background-color: #1b1b1b;
    -fx-text-fill: #d0d0d0;
    -fx-border-color: #444;
    -fx-border-radius: 5;
}

/* HP BAR */
.progress-bar {
    -fx-background-color: #222;
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, #ff0000, #cc0000);
}

/* CLASS CARDS */
.class-card {
    -fx-background-color: #1b1b1b;
    -fx-text-fill: #ddd;
    -fx-font-size: 14px;
    -fx-font-family: "Consolas";

    -fx-padding: 20;
    -fx-pref-width: 140;
    -fx-pref-height: 120;

    -fx-border-color: #444;
    -fx-border-radius: 8;
}

.class-card:hover {
    -fx-background-color: #2a2a2a;
}

/* DISABLED BUTTON */
.button:disabled {
    -fx-opacity: 0.4;
}

/* CREATION LABEL */
.creation-title {
    -fx-text-fill: #bdbdbd;
    -fx-font-size: 22px;
}